/* Global */

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(242, 130, 200);
}

.container-outer {
  width: 25%;
  padding: 10px;
  margin: 20px auto 10px;
  border-radius: 5px;
}

.container-inner {
  width: 85%;
  margin: 10px auto 5px;
  background-color: rgb(247, 177, 220);
  padding: 10px;
  border-radius: 20px;
  border-color: white;
  border-style: solid;
  border-width: 3px;
}

.container_flex {
  display: flex;
  justify-content: center;
}

.container_grid {
  display: grid;
  grid-template-columns: 335px 1fr 1fr;
}

/* List */
.list-parameter-tag-box {
  font-size: 1em;
  display: inline-block;
  border-radius: 10px;
  margin: 0 5px;
  width: 120px;
  height: 30px;
  background-color: rgb(192, 71, 146);
}

/* Tables and Table Items */

table {
  width: 40%;
  margin: 15px 0;
}

td {
  background-color: white;
  padding: 7px;
  text-align: left;
  vertical-align: middle;
  font-weight: 400;
  font-size: 1.2em;
  color: rgb(92, 10, 62);
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

/* Buttons & Dropdowns*/

.button {
  font-family: "Poppins", sans-serif;
  color: rgb(92, 10, 62);
  font-size: 1em;
  font-weight: 600;
  border-style: solid;
  border-color: rgb(92, 10, 62);
  border-radius: 10px;
  margin: 0 5px;
  width: 150px;
  height: 30px;
  background-color: rgb(251, 213, 237);
  /* background-color: white; */
}

.dropdown {
  display: block;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #444;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 5px 5px;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-style: solid;
  border-color: rgb(247, 177, 220);
  border-radius: 10px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}

.dropdown::-ms-expand {
  display: none;
}

.dropdown:hover {
  border-color: #888;
}

.dropdown:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}

.dropdown option {
  font-weight: normal;
}

/* Typography and Links*/

a:link {
  text-decoration: none;
}

a > h4:hover {
  color: white;
}

h1,
h2,
h3 {
  /* headline */
  font-weight: 400;
  line-height: 0.25;
  font-style: italic;
  color: rgb(47, 5, 31);
  text-align: center;
}

h4 {
  /* subhead */
  letter-spacing: 0.05em;
  font-weight: 400;
  font-style: italic;
  color: rgb(47, 5, 31);
  text-align: center;
  margin: 10px;
}

h5 {
  /* subhead - list parameters*/
  margin: 5px;
  letter-spacing: 0.05em;
  font-weight: 600;
  color: white;
  text-align: center;
}

/* Font Awesome Icons */

.fa-edit {
  font-size: 1.5em;
  color: rgb(192, 71, 146);
}

.fa-trash {
  font-size: 1.5em;
  color: rgb(192, 71, 146);
}
